# 超大目录（必须忽略）
weights/
Malignant_Cls_Agent/
output/

# 自动生成 / 缓存 / 无需上传
__pycache__/
*.pyc
*.pyo
*.pyd
*~
.DS_Store
*.log
tmp/
temp/

# 环境与依赖
venv/
env/
node_modules/
vendor/

# 构建与模型
dist/
build/
*.o
*.out
*.pth

# IDE 配置
.idea/
.vscode/
*.swp
*.swo
.ipynb_checkpoints/
